<div data-component="commentSender" class="commentSender js-hidden">
    <textarea placeholder="Leave your comment here"  data-selector="text"></textarea>
    <span></span>
    <button data-selector="sendButton" class="btn btn-primary sendBtn">Send</button>
</div>