fieldset {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
}
legend {
    color: grey;
    margin-bottom: 5px;
}
textarea {
    width: 80%;
    height: 68px;
    resize: none;
}
pre {
    margin: 0;
}

.viewer {
    height: 500px;
    width: 500px;
    overflow: auto;
}
.commentsViewer {
    height: 400px;
    width: 500px;
    overflow: auto;
}
.commentSender {
    width: 80%;
    height: 90px;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.inlineDiv {
    display: inline-block;
    vertical-align: middle;
}

li.folder {
    list-style-image: url(../images/icon-folder.png);
}
ul {
    list-style-image: none;
}

.focused {
    padding: 1px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
}

.comment {
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 500px;
    background-color: #f5f5f5;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #7986CB;
    color: floralwhite;
}
.btn {
    padding: 8px 12px;
}
.btn-primary {
    background-color: #7986CB;
    border-color: #7986CB;
}
.sendBtn {
    width: 18%;
    margin-top: -60px;
}

.js-hidden {
    display: none;
}
